<div class="container">
  <!-- Footer -->
  <footer class="text-center text-lg-start text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center  p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Conheça nossas redes sociais:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset"><i class="bi bi-facebook"></i></a>
        <a href="" class="me-4 text-reset"> <i class="bi bi-twitter"></i> </a>
         <a href="" class="me-4 text-reset"><i class="bi bi-instagram"></i></a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">Jesus Ottoni Fazendas</h6>
            <p>Aqui você encontra a fazenda dos teus sonhos!.</p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contato</h6>
            <p>Três Laogas - MS <i class="bi bi-house"></i></p>
            <p>joseottoni@gmail.com <i class="bi bi-envelope"></i></p>
            <p>(67) 99944-6383 <i class="bi bi-whatsapp"></i></p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/"
        >Dias&Ottoni</a
      >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
