<div class="container">
<div class="row sobre">
  <div class="col-lg-2 col-sm-12">
    <img class="img"src="../../../assets/images/sobre.jpeg">
  </div>
  <div class="col-lg-10 col-sm-12">
    <p>Jesus José Ottoni, corretor de imoveis lorem ipsun Jesus José Ottoni, corretor de imoveis lorem ipsun Jesus José Ottoni, corretor de imoveis lorem ipsun Jesus José Ottoni, corretor de imoveis lorem ipsun
      corretor de imoveis lorem ipsun Jesus José Ottoni, corretor de imoveis lorem ipsun corretor de imoveis lorem ipsun Jesus José Ottoni, corretor de imoveis lorem ipsun corretor de imoveis lorem ipsun Jesus José Ottoni,
    </p>
    <h1>Creci-MS 12599</h1>

   </div>
</div>

</div>
