.form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }
  
  .nav-link{
    color: black;
    
  }
  .nav-link:hover {
    color: #cc6b3d;
  }
  .nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .icon {
    font-size: 18px;
  }


  @media(max-width:510px){
    .item {
        padding: 3px !important;
    }
  }