<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 text-dark text-decoration-none">
        <img src="../../../assets/images/bannerJOF.png" class="bi me-2" width="250" height="80">
        <span class="fs-4"></span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item item"><a href="#" class="nav-link " aria-current="page">Home</a></li>
        <li class="nav-item item "><a href="#" class="nav-link ">Sobre</a></li>
        <li class="nav-item item"><a href="#" class="nav-link ">Anúncios</a></li>
        <li class="nav-item item"><a href="#" class="nav-link ">Contato</a></li>
        <li class="nav-item item"><a a href="#" class="nav-link item"><i class="bi bi-facebook icon"></i> </a></li>
        <li class="nav-item item"><a a href="#" class="nav-link item"><i class="bi bi-instagram icon"></i></a></li>
        <li class="nav-item item"><a a href="#" class="nav-link item"><i class="bi bi-whatsapp icon"></i></a></li>
        
        <li *ngIf="!isLoged()"  class="nav-item item"><a (click)="logIn()"  href="#" class="nav-link item"><i class="bi bi-box-arrow-in-right icon"></i> Logar</a></li>
        <li *ngIf="isLoged()" class="nav-item item"><a (click)="logOut()" href="#" class="nav-link item"><i class="bi bi-box-arrow-left icon"></i> Sair</a></li>

      </ul>
    </header>
  </div>
    
</body>
</html>