.modal {
  width: 300px;
}

.modal-content {
  width: 300px;
}

.item {
  color: white !important;
}
.menu {
  color: white !important;
  margin-right: 10px !important;

}

.menu:hover {
  background-color: black!important;
}

.sub-menu {
  color: rgba(187, 178, 178, 0.911);
  list-style: circle;
}

