<!-- JavaScript Bundle with Popper -->

<div class="container-fluid ps-0 pe-1">
  <div>
    <div class="col-auto bg-dark">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
      >
        <a
          href="/"
          class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          <span class="fs-5 d-none d-sm-inline">Menu</span>
        </a>
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          <li class="nav-item">
            <a href="#" class="navbar-brand align-middle px-0">
              <i class="fs-4 bi-house"></i>
              <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
          </li>
          <li class="">
            <a
              href="#submenu1"
              data-bs-toggle="collapse"
              class="px-0 align-middle nav-link menu"
            >
              <i class="fs-4 bi-speedometer2"></i>
              <span class="ms-2 me-2 d-none d-sm-inline">Dashboard</span>
            </a>
            <ul
              class="collapse nav flex-column ms-1"
              id="submenu1"
              data-bs-parent="#menu"
            >
              <li class="w-100 menu">
                <a routerLink="/admin/categoria" class="nav-link px-0 sub-menu">
                  <span class="d-none d-sm-inline">Categorias</span></a
                >
              </li>
              <li>
                <a
                  routerLink="/admin/tipo-imovel"
                  class="nav-link px-0 sub-menu"
                >
                  <span class="d-none d-sm-inline">Tipos de imóveis</span></a
                >
              </li>
              <li class="w-100 menu">
                <a href="#" class="nav-link px-0 sub-menu">
                  <span class="d-none d-sm-inline">Imóveis</span></a
                >
              </li>

              <li>
                <a href="#" class="nav-link px-0 sub-menu">
                  <span class="d-none d-sm-inline">Usuários</span></a
                >
              </li>
              <li>
                <a href="#" class="nav-link px-0 sub-menu">
                  <span class="d-none d-sm-inline">Grupos</span></a
                >
              </li>
            </ul>
          </li>

          <!--   <li>
                      <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle list-group-item">
                          <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Cadastros</span> </a>
                          <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                          <li class="w-100">
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Categorias</span> 1</a>
                          </li>
                          <li>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Imóveis</span> 2</a>
                          </li>
                          <li>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Tipo de imóveis</span> 3</a>
                          </li>
                          <li>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">   Grupos</span> 4</a>
                          </li>
                      </ul>
                  </li>
                  -->
        </ul>
        <hr />
        <div class="dropdown pb-4">
          <a
            href="#"
            class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://github.com/mdo.png"
              alt="hugenerd"
              width="30"
              height="30"
              class="rounded-circle"
            />
            <span class="d-none d-sm-inline mx-1">Admin</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">Meu Perfil</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="#" (click)="logOut()">Sair</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- <div class="col py-3">
        <div *ngIf="currentRoute!='/admin'">
          <router-outlet></router-outlet>
      </div>
  </div>
</div>




<!--  SIDE BAR RESPONSIVO OCULTAVEL
<nav class="navbar navbar-light bt-light shadow">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Menu APP</span>

    <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>


!-- Modal

 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">MENU</h5>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Menu 1</li>
          <li class="list-group-item">Menu 1</li>
          <li class="list-group-item">Menu 1</li>
          <li class="list-group-item">Menu 1</li>
          <li class="list-group-item">Menu 1</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
 </div>

-->

    <!--<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/api/categoria']" routerLinkActive="active">Categoria</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-success" (click)="logOut()">Logout</button>
          </li>
        </ul>

      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <span class="navbar-toggler-icon"></span>
        teste
      </button>
    </div>
  </nav>
  --></div>
</div>
