
<div *ngIf="currentRoute.includes('/admin') && isLogged()">
  <div class="container-fluid ps-0 pe-0  ">
      <div id="divPainel">
        <div class="col">
          <app-admin></app-admin>
        </div>
      </div>
      <div *ngIf="currentRoute!='/admin'" id="divRota" #divRota class="">
          <router-outlet></router-outlet>
    </div>
      </div>
</div>

<div *ngIf="currentRoute.includes('/admin') && !isLogged()">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<div *ngIf="currentRoute.includes('/login')">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<div
  *ngIf="!currentRoute.includes('/admin') && !currentRoute.includes('/login')">

  <app-footer></app-footer>
</div>

