<form class="row g-3 needs-validation" novalidate [formGroup]="form" style="padding-top: 10px">
  <div class="container">
    <div class="card mt-3">
      <div class="card-header">
        <div class="float-left">
          <h4>Cadastro de Imóveis</h4>
        </div>
      </div>
      <div class="main">
      <div class="row g-3">
        <div class="col-sm-4">
        <!--Nome -->          
          <label for="nome" class="form-label">Imóvel</label>
          <input type="text" class="form-control" id="nome" placeholder="Imóvel" formControlName="nome" />
          <app-campo-control-erro [mostrarErro]="verificaValidTouched('nome')" msgErro="Imóvel é Obrigatório">
          </app-campo-control-erro>
        </div>

        <!--Tipo Imovel-->
        <div class="col-sm-4">
          <label for="tipoImovel" class="form-label">Tipo Imóvel</label>
          <select type="text" class="form-select" id="tipoImovel" placeholder="Tipo Imóvel"
            formControlName="tipoImovel">
            <option *ngFor="let tp of tipoImovel | async" [value]="tp.id">
              {{ tp.nome }}
            </option>
          </select>
          <app-campo-control-erro [mostrarErro]="verificaValidTouched('tipoImovel')" msgErro="Nome é Obrigatório">
          </app-campo-control-erro>
        </div>

        <!--Categoria-->
        <div class="col-sm-4">
          <label for="categoria" class="form-label">Categoria</label>
          <select type="text" class="form-select" id="categoria" placeholder="Categoria" formControlName="categoria">
            <option *ngFor="let cat of categoria | async" [value]="cat.id">
              {{ cat.nome }}
            </option>
          </select>
          <app-campo-control-erro [mostrarErro]="verificaValidTouched('categoria')" msgErro="Categoria é Obrigatório">
          </app-campo-control-erro>
        </div>

        <!--Descrição-->
        <div class="col-sm-12">
          <label for="descricao" class="form-label">Descrição</label>
          <textarea type="text" class="form-control" id="descricao" placeholder="Descrição" formControlName="descricao"
            style="height: 200px"></textarea>
          <app-campo-control-erro [mostrarErro]="verificaValidTouched('descricao')" msgErro="Descrição é Obrigatório">
          </app-campo-control-erro>
        </div>

        <!--Upload-->
        <div class="col-sm-6">
          <div class="dropzone" appDrag (files)="fileDropped($event)">
            <div class="text-wrapper">
              <div class="centered">
                Arraste e solte o arquivo ou
                <a (click)="selectFile.click()" class="browse-button">selecione</a>
                um arquivo!
              </div>

            </div>
          </div>
          <input type="file" style="display: none;" value="Selecionar" #selectFile class="custom-file-input"
            id="customFile" (change)="onFileSelected($event)" multiple />
        </div>
        <div class="col-sm-6">
          <mat-grid-list cols="6" rowHeight="1:1">
            <mat-grid-tile *ngFor="let item of images; let i = index;">
              <div style="position: absolute">
                <span class="btn-remove-image" (click)="removeImages(i)">x</span>
                <img class="itemImage" [src]="item.url" width="50px" height="50px" />
              </div>
            </mat-grid-tile>
          </mat-grid-list>

        </div>
        <br />
        <br />
        <!--Buttons-->

          <div class="col-12" style="margin-top: 10px; text-align: right;">
            <button class="btn btn-default" type="submit" (click)="onCancel()">
              Cancelar
            </button>
            <button class="btn btn-primary" type="submit" (click)="onSubmit()">
              Salvar
            </button>
          </div>

      </div>
    </div>
    </div>
  </div>
</form>