.main-image {
    height: 350px !important;
    width: 100%;
}

.img {
    width: 100%;
    height: 350px !important;
    object-fit: cover;
}
.titulo {
    margin-top: 45px;
    margin-bottom: 5px;
}

.titulo h1 {
    font-size: 2rem;
}
.page-link{
  cursor: pointer;
}
