<form class="form-horizontal" [formGroup]="formulario">

  <div class="form-group">
    <label for="nome">Categoria</label>
    <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Nome">
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked formControlName="status">
    <label class="form-check-label" for="flexCheckChecked">
      Status
    </label>
  </div>

  <button type="button" class="btn btn-primary">Salvar</button>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>
