
<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4>Tipos de Imóvel</h4>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-primary" [routerLink]="['novo']">Novo Tipo Imóvel</button>
      <!--<button type="button" class="btn btn-secondary" >Atualizar</button>-->
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover" *ngIf="tipos_imovel$  as tipo_imoveis; else loading">
      <thead>
        <tr>
          <th>#</th>
          <th>Tipo de Imóvel</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tp of tipo_imoveis">
          <td>{{ tp.id }}</td>
          <td>{{ tp.nome }}</td>
          <td>{{ tp.status }}</td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(tp.id)">
                Atualizar
              </button>

              <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(tp)">
                Remover
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #loading>
      <span>Carregando Tipos de Imóvel...</span>
    </ng-template>

  </div>
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja remover esse tipo de imóvel?</p>
    <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Nao</button>
  </div>
</ng-template>
